<script>
    function generatePDF() {
        const element = document.getElementById('invoice');
        html2pdf()
            .from(element)
            .save("Ratings.pdf");
    }
</script>

<div id="invoice">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Сотрудник</th>
      <th scope="col">Количество всех курсов, в которых принимает участие</th>
      <th scope="col">Количество завершенных курсов</th>
    </tr>
    </thead>
    <% @ratings.each do |user_id, count| %>
      <% user = User.find_by(id: user_id)%>
      <tbody>
      <tr>
        <td><%= "#{user.second_name} #{user.first_name} #{user.patronymic}" %></td>
        <td><%= count %></td>
        <td><%= CoursesUser.where(user_id: user.id, status: true).count %></td>
      </tr>
      </tbody>
    <%end%>
  </table>
</div>
<button onclick="generatePDF()">Скачать PDF</button>