<% if current_user.role == 1%> 
<button type="button" class="btn btn-outline-light me-2 text-bg-dark"><%= link_to "Скачать PDF", down_path, class: 'nav-link px-2 text-white' %></button>
<%end%>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Сотрудник</th>
      <th scope="col">Количество всех курсов, в которых принимает участие</th>
      <th scope="col">Количество завершенных курсов</th>
    </tr>
  </thead>
<% @ratings.each do |rate| %>
  <% user = User.find_by(id: rate.user_id)%> 
  <tbody>
    <tr>
      <td><%= "#{user.first_name} #{user.second_name}" %></td>
      <td><%= rate.all_courses %></td>
      <td><%= rate.finished_courses %></td>
    </tr>
  </tbody>
<%end%>
</table>
