<%= form_with url: "/courses/adding_to_course/#{course.id}", method: :post do |form| %>
  <p><%= form.label :user_id, "Выберите сотрудника" %></p>
  <%= form.select :user_id, @users.map {|el| ["#{el.first_name} #{el.second_name}", el.id]} %>
  <p><%= form.submit("Добавить", id: 'btn') %></p>
<% end %>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
</div>